<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328625521728-o17rvenhtam4d0r0fdn4tdp63oq7gbfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328625521728-o17rvenhtam4d0r0fdn4tdp63oq7gbfh</string>
	<key>API_KEY</key>
	<string>AIzaSyAFJH_KvLPml63oEDjexTA6dK3dS3x6XCE</string>
	<key>GCM_SENDER_ID</key>
	<string>328625521728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dtu.engtech.s191270.UnlockIT</string>
	<key>PROJECT_ID</key>
	<string>unlockit-d9df6</string>
	<key>STORAGE_BUCKET</key>
	<string>unlockit-d9df6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328625521728:ios:f661a6c2c1f3a4d4d00ba5</string>
	<key>DATABASE_URL</key>
	<string>https://unlockit-d9df6-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>